* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
asida{
  display: block;
  width: 100%;
  text-align: left;
  color: red;
}
html, body {
  width: 100%;
  height: 100%;
  background-image: url('/img/login/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #808080;
  &:hover{
    color: #000;
    text-decoration: underline;
  }
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  > article {
    width: 500px;
    height: 90vh;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    //align-items: center;
    > section {
      width: 50%;

      > h1 {
        text-align: center;
        font-size: 2.2em;
        font-family: '黑体';
        margin-bottom: 20px;
      }

      > form {
        text-align: center;

        > p {
          text-align: left;
        }

        .input {
          width: 100%;
          height: 40px;
          border: 1px solid transparent;
          border-bottom-color: #808080;
          font-size: 1.05rem;
          transition: all 0.3s;
          &:focus {
            box-shadow: none;
            outline: none;
            transform: translateX(-20px) scale(1.1,1.1);
            border-bottom-color: #000;

          }

        }

        > div:nth-of-type(3) {
          display: flex;
          justify-content: space-between;
          align-items: center;

          input {
            width: 40%;
          }
        }

        > div:nth-of-type(4) {
          width: 100%;
          display:flex;
          justify-content: space-between;
          align-items: center;
          margin: 20px 0;
        }

        > div:nth-of-type(5) {
          button {
            width: 100%;
            height: 50px;
            font-size: 1.5em;
            border-radius: 20px;
            border: none;
            background-color: #3d5265;
            color: white;
            transition: all 2s;
          }

          &:hover button {
            animation: button 0.5s 1;
          }
        }
        >div:nth-of-type(6){
          margin-top: 30px;
          >p{
          }
          >div{
            margin-top: 20px;
          }
        }
        >div:nth-of-type(7){
          margin-top: 100px;
        }

        > * {
          margin: 10px 0;
        }
      }
    }


  }
}
.icon {
  width: 1.7em;
  height: 1.7em;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
  margin: 0 0.5rem;
  color: #455a6d!important;

  &:hover {
    color: blue!important;
  }
}
@keyframes button {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }

  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }

  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  100%{
    transform: scale(1, 1);
  }

}
